{% extends "layout.html" %}

{% block content%}
<select class="ui selection dropdown" name="tickers">
  {% for stock in all_stocks %}
    <option value="code">{{stock}}</option>
  {% endfor %}
</select>

  <div>
    <button class="ui icon button">
      <i class="plus icon"></i>
    </button>
  </div>
  
<table class="ui celled table">
    <thead>
      <tr>
        <th>Lançado</th>
        <th>Ticker</th>
        <th>Razao Social</th>
        <th>Quantidade</th>
        <th>Preço médio</th>
        <th>CNPJ</th>
        <th>Discriminação</th>
        <th>Preço de fechamento Anual</th>
    </tr></thead>
    <tbody>
      {% block row %}
      <tr>
        <td data-label="Lançado" bgcolor="silver"><input type="checkbox" id="currentstock" name="conpleted" checked="true"/></td>
        <td data-label="Ticker" bgcolor="silver">OIBR3</td>
        <td data-label="RazaoSocial" bgcolor="silver">OI S.A.</td>
        <td data-label="Quantidade" bgcolor="silver">20500</td>
        <td data-label="PrecoMedio" bgcolor="silver">0.94</td>
        <td data-label="CNPJ" bgcolor="silver">76.535.764/0001-43<button class="ui button"><i class="animated fade clipboard icon"></i></button></td>
        <td data-label="Discriminação" bgcolor="silver">{QUANTIDADE} ACOES {RAZAO_SOCIAL} COM PRECO MEDIO DE {PM} POR ACAO <button class="ui button"><i class="animated fade clipboard icon"></i></button></td>
        <td data-label="YearClose" bgcolor="silver">0.76</td>
      </tr>
      {% endblock row %}
      <tr>
        <td data-label="Lançado"><input type="checkbox" name="lançado"/> </td>
        <td data-label="Name">TAEE3</td>
        <td data-label="Age">12.12</td>
        <td data-label="Job">07.859.971/0001-30</td>
      </tr>
      <tr>
        <td data-label="Lançado"><input type="checkbox" name="lançado"/> </td>
        <td data-label="Name">SANB3</td>
        <td data-label="Age">14.21</td>
        <td data-label="Job">90.400.888/0001-42</td>
      </tr>
    </tbody>
  </table>
{% endblock%}