{% extends "layout.html" %} 


{% block content%}
<title>Facilita IR - Home</title>

<script>
    $(document).ready(function(){
        $("#open_dashboard").click(function(){
            console.log("Clicked!")
            var xhr = new XMLHttpRequest();
            var url = '/dashboard';
            xhr.open("GET", url, false)
        })
    })
</script>

<body>
    <div class="ui text container">
        <h1 class="ui inverted header">Facilita IR - Lançamento de ações</h1>
        <h2>Informações sobre ações e FII's da bolsa sem complicação</h2>
        <div id="open_dashboard" class="">
            <h3>Iniciar lançamentos</h3>
                <a href="/dashboard">
                    <button class="ui toggle medium primary button">Começar!
                        <i class="right arrow icon">
                        </i>
                    </button>
                </a>
            <h1></h1>
                
        </div>
        <div class="" id="open_docs">
            <h3>Instruções de uso</h3>
            <a href="https://github.com/mikxingu/facilitair-web">
                <button class="ui toggle medium  primary button">Documentação
                    <i class="book icon">
                    </i>
                </button>
            </a>
        </div>
        
    </div>
</body>
{% endblock%}