<html>
  <head>
    <title>FacilitaIR - Web</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

  </head>
  <body>
      <div class="ui container"> 
        <h2>Facilita IR - Web</h2>

        {% block content %}{% endblock %}      
      </div>
  </body>
  <footer>
    
   <h1></h1>
   <h1></h1>
   <h1></h1>
      <h4>Desenvolvido por mikxingu</h2>
      <h5>Para reportar um bug, clique no botão abaixo: </h4>
      <a href="https://github.com/mikxingu/facilitair-web/issues">
        <button class="ui red mini toggle button">
            <i class="bug icon">
            </i>
        </button>
      </a>
      
    
  </footer>
</html>
